*{
    margin: 0;
    padding: 0;
}
table{
    margin: 50px 0;
    width: 90%;
    align-self: center;
    border-collapse: collapse;
}
table td{
    vertical-align: top;
    padding:10px 15px;
}

td, th{
    border: 1px solid rgb(176, 176, 176);
}

thead th{
    background-color: rgb(79, 189, 191);
    font-size: 12px;
    color: white;
    vertical-align:  middle !important;
    height: 30px;
}

.upper-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    gap:5px;
}

.image-div img{
    height:30px;
    width: 30px;
    border-radius:50%;
}

.content-div{
    display: flex;
    flex-direction: column;
    gap:6px;
}

.content-div h3{
    font-size:16px;
    color: rgb(44, 180, 180);
}

.address{
    font-size:14px;
    color: rgb(110, 110, 110);
}

.college-description{
    background-color:rgba(255, 223, 163,0.6);
    padding:3px 10px 3px 5px;
    border-left: 5px solid rgb(231, 151, 3);
    border-radius: 0 5px 5px 0;
}
.college-description p{
    font-size: 14px;
}

.course{
    color: rgb(231, 151, 3);
}

.cutoff{
    color:rgb(110, 110, 110);
}

.lower-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lower-div button{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: bold;
}

.lower-div button svg{
    font-size: 13px;
}
.lower-div button p{
    padding-left: 3px;
}

.lower-div .apply{
    color: rgb(231, 151, 3);
}

.lower-div .download{
    color: rgb(15, 183, 118);
}

.lower-div .apply{
    color: rgb(231, 151, 3);
}

.course-fees h3{
    font-size: 18px;
    color: rgb(15, 183, 118);
    margin-bottom: 8px;
}
.course-fees p{
    font-size:13px;
    color: rgb(110, 110, 110);
    margin-bottom: 8px;
}

.compare-fees-button{
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px !important;
    color: rgb(231, 151, 3) !important;
}

.compare-fees-button p{
    font-size: 12px !important;
    color: rgb(231, 151, 3) !important;
    font-weight: 600;
    padding-left: 3px;
}

.placement div{
    margin-bottom:7px;
}
.placement div h3{
    font-size: 15px;
    color: rgb(15, 183, 118);
}

.placement p{
    font-size:13px;
    color: rgb(110, 110, 110);
}

.ratings div{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
}

.ratings div svg{
    font-size:14px;
    color: rgb(231, 151, 3);
    margin-right:5px;
}
.rating-number{
    font-size: 15px;
}

.no-of-users{
    font-size: 12px;
    color:rgb(110, 110, 110);
    padding-top:8px;
}

.social-container{
    margin-top: 8px;
    padding: 5px;
    background-color:rgba(255, 223, 163,0.6);
    border-radius:10px;
}
.social-life{
    color:rgb(231, 151, 3);
    font-size: 12px;
    font-weight:600;
    width: auto;
}

.rank{
    font-size: 15px;
    color:rgb(231, 151, 3);
    margin-bottom: 3px;
}

.rankings div{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
}

.ranking-year img{
    height:25px;
    width: 40px;
}
.ranking-year p{
    font-size:14px;
    color:rgb(110, 110, 110);
}

.rankings-by{
    background-color: rgba(129, 255, 255,0.4);
    border-left: 5px solid rgb(44, 180, 180);
    margin-top: 8px;
    border-radius: 0 10px 10px 0;
}

.rankings-by img{
    height:20px;
    width:30px;
}

.rankings-by p{
    padding-left:5px;
    color: rgb(44, 180, 180);
    font-size: 14px;
    font-weight: bold;
}

footer{
    background-color:rgb(79, 189, 191);
    height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

footer div{
    color: white;
}

footer a{
    text-decoration: none;
    color: black ;
    font-weight: bold;
}